.section-services
	include ../mixins/_service.pug
	.container#programs.p-0
		.row
			//- .title-2 Контакты
		.slider
			.owl-carousel
				.row
					.col.item
						+service('Пьянящие ножки', 'img/1067621573.jpg', [60,4000])
							.intro Большинство мужчин теряют голову от красивых женских ножек и эта программа специально для них.
				.row
					.col.item
						+service('Французский поцелуй', 'img/-627637893.jpg', [60,6000])
							.intro Волнующее сочетание техник горячего-холодного дыхания и лёгких прикосновений кубиком льда к вашим эрогенным зонам подарит вам ураган совершенно новых незабываемых эмоций.
				.row
					.col.item
						+service('1000 поцелуев', 'img/1057896424.jpg', [60,7500])
							.intro Нежные сладкие губки очаровательной мастерицы покроют всё ваше тело ласковыми поцелуями.
				.row
					.col.item
						+service('Кисуля «Kiss»', 'img/small-461993865.jpg', [60,7000])
							.intro Любите наблюдать за девушкой, когда ей безумно хорошо и сами кайфуете от этого? Тогда эта программа безусловно для вас...
				.row
					.col.item
						+service('Черный закат', 'img/-627637893.jpg', [60,9000])
							.intro Приглашаем вас в апартаменты, где царит полная темнота, обостряющая чувствительность всех ваших эрогенных зон.
				.row
					.col.item
						+service('Виртуальная реальность', 'img/-102894958.jpg', [60,10500])
							.intro Специально для любителей &quot;остренького&quot;! Экстремальные смелые техники, минимум касаний руками...