.section-faq
	.container
		.faq#faq
			.faq-item.clearfix
				.faq__text 
					p(class="question") Как у вас можно выбрать девушку на сеанс эротического релакса?
					p(class="answer") По портфолио, по программам, узнав какие программы каждая исполняет.
			.faq-item.clearfix
				.faq__text
					p(class="question") С какого момента начинается отсчет времени сеанса?
					p(class="answer") Отсчет времени начинается с момента, когда вы войдете в комнату к мастеру.
			.faq-item.clearfix
				.faq__text
					p(class="question") А если я не смогу удержаться и захочу большего от мастера?
					p(class="answer") На программе Вы  можете достичь эротического окончания. Но интим-услуги  мы не предоставляем.
			.faq-item.clearfix
				.faq__text
					p(class="question") Могу ли я помыть девушку в душе/ванной?
					p(class="answer") Водные процедуры приветствуются в нашем салоне. Вы можете провести время в душе с нашими красотками
			.faq-item.clearfix
				.faq__text
					p(class="question") В вашем салоне есть эротические игрушки?
					p(class="answer") Да. Мы предлагаем самые разнообразные игрушки для Вашего удовольствия.