include ../mixins/_service.pug
.section-services
	.container#programs.p-0
		.row
			.section-services__title
				.title-2 Программы
		.row.mt-50.no-gutters
			.col.col-md-4.col-xl-3
				+service('Пьянящие ножки', 'img/1067621573.jpg', [60,4000])
					.intro Большинство мужчин теряют голову от красивых женских ножек и эта программа специально для них.
			.col.col-md-4.col-xl-3
				+service('Французский поцелуй', 'img/-627637893.jpg', [60,6000])
					.intro Волнующее сочетание техник горячего-холодного дыхания и лёгких прикосновений кубиком льда к вашим эрогенным зонам подарит вам ураган совершенно новых незабываемых эмоций.
			.col.col-md-4.col-xl-3
				.service-card
					.title-content
						h3 1000 поцелуев
						hr
						.intro Нежные сладкие губки очаровательной мастерицы покроют всё ваше тело ласковыми поцелуями.
					.card-info Подробнее...
					.utility-info
						ul.utility-list
							li.comments 60 min
								i(class="fa fa-clock-o")
							li.date 7500
								i(class="fa fa-rub")
					.card__image
						img(src="img/1057896424.jpg")
					.gradient-overlay
					.color-overlay
			.col.col-md-4.col-xl-3
				.service-card
					.title-content
						h3 Кисуля «Kiss»
						hr
						.intro Любите наблюдать за девушкой, когда ей безумно хорошо и сами кайфуете от этого? Тогда эта программа безусловно для вас...
					.card-info Подробнее...
					.utility-info
						ul.utility-list
							li.comments 60 min
								i(class="fa fa-clock-o")
							li.date 7000
								i(class="fa fa-rub")
					.card__image
						img(src="img/small-461993865.jpg")
					.gradient-overlay
					.color-overlay
			.col.col-md-4.col-xl-3
				.service-card
					.title-content
						h3 Черный закат
						hr
						.intro Приглашаем вас в апартаменты, где царит полная темнота, обостряющая чувствительность всех ваших эрогенных зон.
					.card-info Подробнее...
					.utility-info
						ul.utility-list
							li.comments 60 min
								i(class="fa fa-clock-o")
							li.date 9000
								i(class="fa fa-rub")
					.card__image
						img(src="img/-627637893.jpg")
					.gradient-overlay
					.color-overlay
			.col.col-md-4.col-xl-3
				.service-card
					.title-content
						h3 Виртуальная реальность
						hr
						.intro Специально для любителей &quot;остренького&quot;! Экстремальные смелые техники, минимум касаний руками...
					.card-info Подробнее...
					.utility-info
						ul.utility-list
							li.comments 60 min
								i(class="fa fa-clock-o")
							li.date 10500
								i(class="fa fa-rub")
					.card__image
						img(src="img/-102894958.jpg")
					.gradient-overlay
					.color-overlay