script( src="./js/jquery.cookie.js")
script( src="./js/popup.js")
#popup__overlay(class="popup__overlay")
	.popup
		h1
			<strong>18</strong>+
			a(class="close" href="#")
			.content Вам есть 18 лет?
			p На сайте присутствует контент эротического содержания
			ul
				li Вход только от 18+
				li Лица в состоянии алкогольного опьянения в салон не допускаются
				li Салон Graff 72 не оказывает услуг сексуального характера
				.buttons
					.button(id="popup__yes" type="submit" onClick="javascript:PopUpHide()") Да
					.button(id="popup__no" type="submit" onClick="javascript:CloseSite()") Нет