.frame
  .modal
    img(src='img/alert.png', width='44', height='38')
    span.title 18+
    p
      | "Приветствуем вас на нашем сайте! Сайт содержит материалы для взрослых и мы должны убедиться что вам есть 18 лет"
    .button Да мне есть 18