//- FOOTER
.section-footer
	.container
		.row
			.col-3.col-3--left
				.section-footer_map
					#map
						script(defer='', src='./js/map.js')
						script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDt844zHM-r-HrH9M7_5GINiG3Ner6uAmU&callback=initMap')
			.col-3
				.footer__address
					p
						address ул. Николая Федорова 6/к.1 625000, Россия Тюмень
			.col-3.col-3--right
				.footer__social
					a(href='#', target='_blank')
						i.fab.fa-instagram
					a(href='https://vk.com/menclubgraff', target='_blank')
						i.fab.fa-vk
		.row.row--yandex
			// Yandex.Metrika informer
			a(href='https://metrika.yandex.ru/stat/?id=48229025&from=informer', target='_blank', rel='nofollow')
			img(src='https://informer.yandex.ru/informer/48229025/2_0_545A60FF_343A40FF_1_uniques', style='width:80px; height:31px; border:0;', alt='Яндекс.Метрика', title='Яндекс.Метрика: данные за сегодня (уникальные посетители)')
			// /Yandex.Metrika informer
//- //FOOTER