doctype html
html(lang="ru")
head
	<!-- Required meta tags -->
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	
	link(rel="shortcut icon", href="img/favicon.ico")
		
	<!-- Bootstrap CSS -->
	link(rel="stylesheet" href="css/bootstrap.min.css")
	link(rel="stylesheet", href="fonts/noto-webfont/noto.css")
	//link(rel="stylesheet", href="fonts/notoserif/notoserif.css")
	link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.css")

	<!-- Owl carousel 2.3.3 -->
	link(rel="stylesheet", href="libs/owlcarousel2/owl.carousel.min.css")
	//- link(rel="stylesheet", href="libs/owlcarousel2/owl.theme.default.min.css")
	
	link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.css")

	<!-- My CSS -->
	link(rel="stylesheet" href="css/main.css")

	<!-- Google fonts -->
	link(href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet")

	title Отдых для мужчин | Тюменская обл. | Мужской SPA салон Graff72

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
body
	include mixins/_master.pug
	.hero-header.mb-5
		include navigation.pug
		.hero-header__content
			.header__info Открыто 24 часа
			.logo
				img(id="logo" src="./img/logo.png" alt="logo")
			.hero-header__phone
				a(href="tel:+7(3452)748-440" target="_blank") 
					i(aria-hidden="true").fa.fa-phone
					|748-440
			a(href="#programs").scroll-down
	.container-fluid.mb-5
		.slider.text-center
			.heading#programs Лучшие программы
			.owl-carousel
				.row
					.col-md-12.col-lg-8.offset-lg-2.item
						.d-none.d-md-block
							.slider-text
								.slider-text__title 50 оттенков серого
								.slider-text__descr Мечтали ли вы оказаться главным героем фильма 50 Оттенков серого? У Вас есть такая возможность.. Тут Вы воплотите все свои фантазии в реальность... Вы будете Господином своей робкой красотки, которая умело будет подчиняться Вам.
						.d-block.d-md-none
							.slider-text
								.slider-text__title 50 оттенков серого
								.slider-text__descr Вы будете Господином своей робкой красотки.

						img(src='img/programs/1.jpg', alt='program1')
				.row
					.col-md-12.col-lg-8.offset-lg-2.item
						.d-none.d-md-block
							.slider-text
								.slider-text__title твикс
								.slider-text__descr Это бестселлер! Любите конфетку с начинкой!!! Это чувство когда чувствуется сначала вкус сладкого шоколада плавно переходящий в начинку спелой вишни...эта программа с двумя красотками которые передадут вкус всех ваших изысков и желаний,лучшие техники и разнообразия позволят Вам насладиться вкусом который останется надолго.
						.d-block.d-md-none
							.slider-text
								.slider-text__title твикс
								.slider-text__descr Это бестселлер! Эта программа с двумя красотками, которые передадут вкус всех ваших изысков и желаний.
						img(src='img/programs/2.jpg', alt='program2')
				.row
					.col-md-12.col-lg-8.offset-lg-2.item
						.d-none.d-md-block
							.slider-text
								.slider-text__title персона lux
								.slider-text__descr Трудно выбрать конкретную программу? Хочется всего и сразу? Тогда программа «Персона LUX» удовлетворит все Ваши желания! В ней Вас ждет горячая эротическая смесь из всех эксклюзивных программ, которые выполняет выбранная Вами красотка. Только в этой программе самые лучшие, эксклюзивное, впечатляющие и невероятное, а техника релакса не оставит равнодушным даже самого требовательного Гостя!
						.d-block.d-md-none
							.slider-text
								.slider-text__title персона lux
								.slider-text__descr Трудно выбрать конкретную программу? Эта программа удовлетворит все Ваши желания! Горячая эротическая смесь из всех эксклюзивных программ. Не оставит равнодушным даже самого требовательного Гостя!
						img(src='img/programs/2.jpg', alt='program2')
		//Лучшие мастера
	.container.text-center.mb-5
		.heading Лучшие мастера
		.section#masters
			.row
				.col-md-4.col-lg-3
					+master('Полина', 'img/masters/1.jpg', [23,167,55,3])
				.col-md-4.col-lg-3
					+master('Маша', 'img/masters/2.jpg', [23,185,65,3])
				.col-md-4.col-lg-3
					+master('Зарина', 'img/masters/3.jpg', [21,156,43,3])
				.col-md-4.col-lg-3
					+master('Ирина', 'img/masters/4.jpg', [21,168,52,2])
	//Акции
	.container.text-center.mb-5
			.heading Hаши акции
			.row
				.col-md-4.col-lg-4
					.promo__item.js-parent.js-tilt
							img(src="img/offer_1.jpg", alt="offer_1").promo-item__img
				.col-md-4.col-lg-4
					.promo__item.js-parent.js-tilt
							img(src="img/offer_2.jpg", alt="offer_2").promo-item__img
				.col-md-4.col-lg-4
					.promo__item.js-parent.js-tilt
							img(src="img/offer_3.jpg", alt="offer_3").promo-item__img
	.container.mb-5
		.faq#faq
			.heading Ответы на наиболее частые вопросы
			.faq-item.clearfix
				.faq__text 
					p(class="question") Как у вас можно выбрать девушку на сеанс эротического релакса?
					p(class="answer") По портфолио, по программам, узнав какие программы каждая исполняет.
			.faq-item.clearfix
				.faq__text
					p(class="question") С какого момента начинается отсчет времени сеанса?
					p(class="answer") Отсчет времени начинается с момента, когда вы войдете в комнату к мастеру.
			.faq-item.clearfix
				.faq__text
					p(class="question") А если я не смогу удержаться и захочу большего от мастера?
					p(class="answer") На программе Вы  можете достичь эротического окончания. Но интим-услуги  мы не предоставляем.
			.faq-item.clearfix
				.faq__text
					p(class="question") Могу ли я помыть девушку в душе/ванной?
					p(class="answer") Водные процедуры приветствуются в нашем салоне. Вы можете провести время в душе с нашими красотками
			.faq-item.clearfix
				.faq__text
					p(class="question") В вашем салоне есть эротические игрушки?
					p(class="answer") Да. Мы предлагаем самые разнообразные игрушки для Вашего удовольствия.

	include footer

	<!-- Optional JavaScript -->
	
	//- --Yandex metrica
	script(type='text/javascript', src='/js/yandex.js')
	noscript
		div
			img(src='https://mc.yandex.ru/watch/48229025', style='position:absolute; left:-9999px;', alt='')
	//- //Yandex metrica
	
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	//- script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

	script(src='/libs/tilt.js-master/tilt.jquery.js')
	script(src='/js/tilt.js')
	script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.js")
	script(src="libs/owlcarousel2/owl.carousel.min.js")
	script(defer='', src='./js/map.js')
	<!-- My scripts -->
	script(src='/js/navigation.js')
	script(src='/js/main.js')

	