/*-----------------NAVIGATION DESKTOP-----------------*/
.navbar{
	width: 100%;
	height: 50px;
	margin-top: 25px;
	position: absolute;
	z-index: 2;
	background-color: #351225;
	
	@media (min-width:768px){
		margin-top: 70px;
	}


	.mobile-nav{
		display: block;
		margin: 0;
		color: #FFF;
		text-decoration: none;
		font-size: 20px;
		text-transform: uppercase;
		min-width: 30%;
		

		@media (min-width:768px){
			display: none;
		}



		.nav_mobile-head__icon{
			z-index: 3;
			position: absolute;
			display: inline-block;
			top:25%;
			right:10px;
			width: 30px;
			transition: all 0.3s;
			
			span{
				display: block;
				width: 100%;
				height: 4px;
				margin-bottom:7px;
				border-radius: 100px;
				background: #fff;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		.nav_mobile-head__icon--rotate{
			transform: rotate(-90deg);
			span{
				background: @hoverColor;
			}
		}


	}

	.logo{
		cursor: pointer;
		float: left;
		padding: 5;
        border-radius: 5px;
		img{
			width: 105px;
			height: 90px;
			
			@media (min-width:992px){
				width: 150px;
				height: 130px;
			}
		}	
	}
	nav{
		float: right;
		z-index: -2;
		
		@media (min-width:768px){
			// width: 100%;
		}
		
		.nav__list-items{
			z-index: -1;
			position: absolute;
			top: @nav-height;
			left: 0;
			right: 0;
			display: none;
			list-style-type: none;
			font-size: 0;
			margin: 0;

			@media (min-width:768px){
				position: relative;
				top: 0;
				
				display: block;
			}
			
			.nav__list-item {
				display: block;
				padding: 5px 20px;
				text-align: right;
				border: none;
				list-style-type: none;
				// background-color: rgba(74, 73, 67, 0.4);
				background-color: @color3;

				a{
					display: inline-block;
					padding: 5px 0px;
					font-size: 28px;
					color: #A88A9B;
					text-transform: uppercase;
					text-decoration: none;
					text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 1px 2px 5px rgba(0, 0, 0, 0.4), 3px 3px 10px rgba(0, 0, 0, 0.3);
					transition: color 1s ease-in-out;

					&:hover{
						color: @hoverColor;
					}
					
					@media (min-width:768px){
						font-size: 16px;
						line-height: 1;
						color: @color4;
						padding-bottom: 3px;

						&:hover{
							padding-bottom: 0px;

							border-bottom: 3px solid;
							color: @hoverColor;
						}
					}
				}

				@media (min-width:768px){
					background-color: transparent;
					margin-right: 5px;
					padding: 20px 10px;
					display:inline-block;
					list-style-type: none;

					&:last-child{
						margin-right: 0;
					}

				}

				@media (min-width:992px){
					margin-right: 20px;
				}
			}
		}
	}
}