#popup__overlay(class="popup__overlay")
	.popup
		.popup-text
			.popup-text__title.pink.blink
				h1 Добро пожаловать
			h1 Вам есть 18 лет?
			div
				ul
					li 
						p На сайте присутствует контент эротического содержания
					li 
						p Вход только от 18+
					li 
						p Лица в состоянии алкогольного опьянения в салон не допускаются
					li 
						p Салон Graff 72 не оказывает услуг сексуального характера
		.buttons
			.button.button--popup(id="PopUpYes") Да мне есть 18
