head
	<!-- Required meta tags -->
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="theme-color" content="#513745")
	

	meta(name="robots" content="all")
	meta(name="Keywords" content="эротический массаж тюмень, девочки Тюмень")
	meta(name="yandex-verification" content="ece40483b79356c6")
	link(rel="shortcut icon", href="img/favicon.ico")
	
	<!-- Bootstrap CSS -->
	link(rel="stylesheet" href="libs/bootstrap/bootstrap.min.css")
	
	<!-- Fontawesome -->
	link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.css")

	<!-- Owl carousel 2.3.3 -->
	link(rel="stylesheet", href="libs/owlcarousel2/owl.carousel.min.css")
	
	<!-- My CSS -->
	link(rel="stylesheet" href="css/main.css")

	<!-- Google fonts -->
	link(rel="stylesheet", href="fonts/noto-webfont/noto.css")
	link(rel="" href="fonts/lobster/lobster-regular.ttf")
	link(rel="" href="fonts/pattaya/pattaya-regular.ttf")

	title Отдых для мужчин | Тюменская обл. | Мужской SPA салон Graff72

		