.navbar
	a(href="#").logo
		img(id="logo" src="./img/logo.png" alt="logotype")
	nav(role="navigation")
		a(href='#').mobile-nav#pull
			.nav_mobile-head__icon
				span
				span
				span
		ul#nav_mobile-list.nav__list-items
			li.nav__list-item
				a(href='#') Главная
			li.nav__list-item
				a(href='#programs') Программы
			li.nav__list-item
				a(href='#masters') Мастера
			li.nav__list-item
				a(href='#faq') FAQ
			li.nav__list-item
				a(href='#') О нас
			li.nav__list-item
				a(href='#footer') Контакты